:root {
    --cyan: hsl(179, 62%, 43%);
    --yellow: hsl(71, 73%, 54%);
    --gray: hsl(204, 43%, 93%);
    --blue: hsl(218, 22%, 67%);
}

*{
    padding: 0; 
    margin:0; 
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
    font-weight: 400;  
}

.container{
    width: 315px;
    background-color: white;
    border-radius: 10px;
}

h3 {
    font-weight: 700;
    color: var(--gray);
    margin-bottom: 20px; 
}

.price{
    display: flex;
    flex-direction: row; 
}

.price p{
    margin-left:5px;
    margin-top: 3px; 
}

.cyan{
    color: var(--cyan);
    margin-bottom: 30px;
}

.yellow{
    color: var(--yellow);
    margin-bottom: 30px; 
}

.yellow2{
    color: white; 
    font-size: 16px;
    opacity: 0.5;
    position: relative;
    top: -3px; 
}

.blue{
    color: var(--blue);
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 14px; 
}

.dollar{
    font-size: 24px;
    color: white; 
}

button {

}

.card1{
    padding: 30px 15px; 
}


.card2{
    background-color:var(--cyan);
    padding: 30px 15px; 
}

.card3{
    padding: 30px 15px; 
}

